body {
  background-color: black;
  color: white;
}

h1 {
  color: F6F6F6;
  text-align: center;
}

p {
  text-align: center;
}

#imagem_principal {
  width: 70%;
  height: 600px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20%;
}

a {
  background-color: #04AA6D;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}

strong {
  color: rgb(122, 117, 117);
}

#botoes {
  margin-top: 2%;
  margin-left: 35%;
  margin-right: 35%;
}

/*aqui*/
.itens {
  font-style: italic;
  font-size: large;
}

#conteudo_principal {
  margin: 5%;
  background-color: rgb(34, 33, 33);
  padding: 2%;
}

ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;
}

h2 {
  text-align: center;
}